<div id='container'>
  <h2>All Links</h2>
  <hr>
  <nav>
    <a href="#/links">All Links</a>
    <a href="#/shorten">Shorten</a>
    <a href="#/signin" id="signout" ng-controller="AuthController" ng-click="signout()">Sign Out</a>
  </nav>
  <hr>

  <!-- Your html here -->
  <div class="link" ng-repeat="link in data.links">
    <a href={{link.link}}>
      <div>Title: {{link.title}}</div>
      <div>Original: {{link.url}}</div>
      <div>Visits: {{link.visits}}</div>
      <div>Shortened Link: {{link.link}}</div>
  <hr>
    </a>
  </div>
</div>
